~*.*
*.png
year1910/Styria/kratice-Styria-1910-slv.png
year1910/Styria/znaki-Styria-1910-slv.png
year1910/Carniola/Repertorium_1917.pdf
year1910/Carniola/Carniola-1910-deu.pdf
year1910/Carinthia/Strani iz Repertorium_1917_Korotan.pdf
year1910/Littoral/wiki/
year1910/Styria/Strani iz Repertorium_1917_Styria.pdf
year1869/Carniola/1456135651bsb11181647.pdf
year1869/Carniola/Orts-Repertorium_des_Herzogtums_Krain_1870.pdf
year1910/XML_Schema/namensverzeichnis-vzorec.xml
