~*.*

year1817/Carniola/Haupt_Ausweis_uber_die_Eintheilung.pdf

year1869/Carinthia/Orts-Repertorium_des_Herzogthumes_Karnten_1872.pdf
year1869/Carniola/1456135651bsb11181647.pdf
year1869/Carniola/Orts-Repertorium_des_Herzogtums_Krain_1870.pdf
year1869/Styria/Orts-Repertorium_Stajerska_1870.pdf

year1880/Carniola/Krain_1880.pdf
year1880/Littoral/Poseben_krajevni_imenik_za_Primorje_1885.pdf

year1890/Carniola/kranjska 1894.pdf

year1900/Carniola/GEMEINDELEXIKON_VON_KRAIN_1900.pdf
year1900/Carniola/TN-218291_v06.pdf
year1900/Littoral/TN-218291_v07.pdf
year1900/Styria/TN-218291_v04.pdf

year1910/Carinthia/Carinthia-1910-deu.pdf
year1910/Carinthia/Strani iz Repertorium_1917_Korotan.pdf
year1910/Carniola/Carniola-1910-deu.pdf
year1910/Carniola/Repertorium_1917.pdf
year1910/Littoral-1910-deu.pdf
year1910/Littoral/wiki/
year1910/Pictures/
year1910/Styria/kratice-Styria-1910-slv.png
year1910/Styria/Strani iz Repertorium_1917_Styria.pdf
year1910/Styria/znaki-Styria-1910-slv.png

year1939/Splosni_pregled_Dravske_banovine_1939-novi.pdf
